<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas v-once</title>
</head>
<body>

    <div id="directives">

        <h2>Cidades do Mundo</h2>
        <ol>
            <!-- <li v-for="city in cities">{{ city }}</li> -->

            <li v-for="item in cities">
                {{ item.city }} - {{ item.country }}
            </li>
        </ol>
        
        <h2>Grandes filmes da história</h2>
        <ul>
            <li v-for="(picture, index) in movies">
                {{index}}. {{picture}}

            </li>
        </ul>

        <h2>Empresa</h2>
        <p v-for="(value, key, index) in company">{{ key }}: {{ value }}</p>
       
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

    <script>
        let app = new Vue({
            el: "#directives",
            data: {
            //    cities: ['New York', 'São Paulo', 'Rio de janeiro'] 
            cities: [{
                city: 'Nova York',
                country: 'EUA'
            }, {
                city: 'Nova Jersey',
                country: 'EUA'
            },
            {   city: 'São Paulo',
                country: 'Brasil'
            },
        ],
        movies: ['harry Potter e o Calice de Fogo', 'Senhor dos Anéis', 'Pinoquio'],
        company: {
            name: 'Facebook',
            year: 2004,
            creator: 'Mark'
        }
            }, 
        })

    </script>
    
</body>
</html>